@import 'setup/typography.css';

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth
}

header .btn-menu {
    display: none;
}

body {
    background-color: rgb(221, 220, 220);
}


.main-header {
    color: white;
    background-color: #ff7f00;
}

.main-header .header-container {
    width: 100%;
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}

.memes-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 60px solid rgb(221, 220, 220);
    border-top: 30px solid rgb(221, 220, 220);
    background-color: rgb(221, 220, 220);
}

.gallery-img {
    cursor: pointer;
    height: 200px;
    border-radius: 5px;
}

.nav-keywords-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-keywords-container {
    margin-top: 10px;
    margin-left: 400px;
}

.keywords-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: Montserrat;
    margin-left: 20px;
}

.keywords-second-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: Montserrat;
    margin-left: 20px;
}

.keyword-btn {
    cursor: pointer;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
}


li {
    list-style-type: none;
    cursor: pointer;
}

.main-layout {
    margin: 0 auto;
}

.logo {
    font-family: Montserrat;
    font-size: 2.0rem;
    font-weight: bold;
    cursor: pointer;
}

.main-header .main-nav a {
    display: flex;
    font-size: 1.4rem;
    font-family: Montserrat;
    height: 22.8px;
    width: 36.7px;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s;
    cursor: pointer;
    margin-left: 50px;
    padding: 50px;
    text-align: center;
}

.main-header .main-nav a:hover {
    color: white;
    box-shadow: inset 0px -6px 0;
}

a {
    text-decoration: none;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7f00;
    flex-direction: column;
    height: 103px;
    width: 100%;
}

.main-footer small {
    font-family: Montserrat;
    letter-spacing: 0.05rem;
    color: white;
    text-align: center;
}

.logo-footer {
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}


.btns {
    display: flex;
    flex-direction: row;
}


input {
    font-size: 1.1rem;
    font-family: Montserrat;
    padding: 20px;
    width: 280px;
    height: 10px;
    font-weight: 500;
    margin-left: 70px;
    background-color: white;
    border: 0px solid;
    cursor: pointer;
    border: none;
    resize: none;
    outline: none;
    border-radius: 10px;
}



.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;

}

canvas {
    border: 2px solid #ff7f00;
    border-radius: 10px;
    min-width: 60%;
}

.meme-editor {
    display: flex;
    margin: 35px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.canvas-container {
    display: flex;
    width: 500px;
    height: 500px;
    object-fit: fill;
}

.text-line {
    width: 300px !important;
    height: 30px !important;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    cursor: unset;
    margin-right: auto;
    margin-left: auto;
}

.text-line:hover {
    color: black;
    box-shadow: unset;
}

.editor {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;

}

.btns-first-editor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 35px;
}

.btns-second-editor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 8px;
}

.btns-third-editor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.btns-fourth-editor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.save-btn {
    width: 70px;
    height: 40px;
    margin: 10px 0 0 127px;
    border-radius: 6px;
    background-color: #ff7f00;
    color: white;
    font-family: Montserrat;
    border: 2px solid #ff7f00;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

.download-btn {
    width: 155px;
    height: 40px;
    margin: 10px 0 0 127px;
    border-radius: 6px;
    background-color: #ff7f00;
    color: white;
    font-family: Montserrat;
    border: 2px solid #ff7f00;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

.upload-btn {
    width: 70px;
    height: 40px;
    margin: 10px 0 0 127px;
    border-radius: 6px;
    background-color: #ff7f00;
    color: white;
    font-family: Montserrat;
    border: 2px solid #ff7f00;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 35px;
    height: 35px; */
    margin: 4px 7px 0 10px;
    padding: 5.3px 5px 5.3px 5.5px;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid white;
}

.icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}


.font-select {
    width: 160px;
    height: 35px;
    margin: 5px 9px 0 0;
    padding: 5.3px 5px 5.3px 5.5px;
    border-radius: 6px;
    background-color: #fff;
    border: 2px solid white;
}

.stickers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 290px;
    height: 100px;
    margin: 15px 0 10px 0.5px;
    padding: 16px 3.7px;
    border-radius: 6px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
}

.sticker {
    width: 60px;
    height: 60px;
    margin: 0 17.5px 0 5.8px;
    object-fit: contain;
    cursor: pointer;
}


.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: white;
    gap: 10px;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-img {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin: 0;
}

.me {
    max-height: 250px;
    border-radius: 50%;
    object-fit: cover;

}

.about-text {
    width: 400px;
    margin: auto;
    font-size: 1.4rem;
    font-family: Montserrat;
    margin-left: 0;
}

.about-me-btns {
    display: flex;

}

.rights {
    font-family: Montserrat;
    letter-spacing: 0.05rem;
    color: black;
    margin-top: 80px;
    margin-left: 40px;
}

img {
    object-fit: cover;
}


.saved-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}




/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.flex-column {
    flex-direction: column;
}



/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 30%);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.main-layout {
    width: 1000px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}





@media (max-width: 860px) {

    .main-header {
        border-radius: none;
        padding-right: 0;
        transition: all 0.5s;
    }

    .logo {
        font-size: 1.5rem;
    }

    .main-layout {
        width: 70%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .meme-editor {
        display: flex;
        flex-direction: column;
        margin: unset;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }

    .canvas {
        width: 350px;
        height: 400px;
    }

    .rights {
        text-align: center;
        margin-right: 40px;
    }

    .canvas-container {
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 500px;
    }

    .btn-menu {
        display: block !important;
        height: 100px;
        width: 100px;
        padding: 0;
        border: none;
        background: none;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: #ff7f00;
        height: 100vh;
        min-width: 220px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);
    }

    .main-header .main-nav a {
        display: block;
        transition: background-color .3s;
        margin-left: auto;
        margin-right: auto;
        width: unset;
    }

    .about-me-container {
        display: flex;
        flex-direction: column;
    }

    .me {
        max-height: 200px;
        margin-bottom: 30px;
    }

    .my-img {
        width: 200px;
    }

    .about-me-btns {
        align-items: center;
        justify-content: center;
    }

    .about-text {
        text-align: center;
    }

    .btns {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-right: 80px;


    }

    input {
        width: 200px;
    }


    .keywords-list {
        display: none;
    }

    .search-icon {
        display: none;
    }

}

@media (max-width: 1120px) {
    .main-layout {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }
}

.hide {
    display: none;
}